# Copy the values as they are to .env to run it locally
DATABASE_URL="postgresql://postgres:password@db:5432/file_upload"
PORT=3000
JWT_SECRET=superSecretKeyThatShouldBeLongAndRandomInProduction
JWT_EXPIRATION_TIME=60m
REDIS_HOST=redis
REDIS_PORT=6379
